{% extends 'base.html' %}
{% block title %}Пользователь{% endblock %}

{% block menu %}
{#    {% if request.user == user_obj %}#}
{#        <li><a href="{% url 'accounts:change' user_obj.pk %}">Редактировать</a></li>#}
{#        <li><a href="{% url "accounts:password_change" %}">Смена пароля</a></li>#}
{#    {% endif %}#}
{% endblock %}

{% block content %}
    <h1>Личная страница пользователя {{ user_obj.get_full_name|default:user_obj.username }}</h1>
    <p>Имя пользователя: {{ user_obj.username }}</p>
    <p>Описание {{ user_obj.description }}</p>


    <h2 class="text-center clear">Отзывы автора:</h2>
    {% include 'product/index.html' %}
{% endblock %}