{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/navbar.css" %}">
</head>
<style type="text/css">
.link{
	border:1px solid #ccc;
	background:#eaeaea;
	padding: 5px 5px;
	text-decoration: none;
}</style>
<body>

    <nav class="navbar">
        <ul class="menu">
            <li><a href="{% url "photo:photo_list" %}">Все Фото</a></li>
            <li><a href="{% url "photo:photo_add" %}">Создать фото </a></li>
           <li><a href="{% url "photo:add" %}">Создать Альбом </a></li>
                 {% if user.is_authenticated %} {% block menu_links %}{% endblock %}
            <li class="menu-right"><a href="{% url 'accounts:logout' %}?next={{request.get_full_path}}"
                                      class="nav-link">Выход</a></li>
            <li class="menu-right">  Привет, <a href="{% url 'accounts:detail' user.pk %}">{{ user.username }}</a>!</li>
            {% else %}
            <li class="menu-right"><a href="{% url 'accounts:login' %}?next={{request.get_full_path}}"
                                      class="nav-link">Вход</a></li>
                 <li class="menu-right"><a href="{% url 'accounts:create' %}?next={{ request.get_full_path }}"
                                           class="nav-link">Регистрация</a></li>
            {% endif %}% endblock %}
        </ul>
    </nav>

    <div class="container">
        {% block content %}{% endblock content %}
    </div>

</body>
</html>
