{% extends "base.html" %} {% block menu %}
{% if perms.webapp.change_project and request.user   %}
     <li><a href="{% url 'photo:photo_update' photo.pk %}">Редактировать фото</a></li>
{% endif %}

{% if perms.webapp.delete_photo and request.user  %}
        <li><a href="{% url "photo:photo_delete" photo.pk %}">Удалить  фото </a></li>
{% endif %}
{% if perms.webapp.add_comment %}
    <li><a href="{% url "photo:comment_create" photo.pk %}">Добавить Комментарий</a></li>
{% endif %}

    <li><a href="{% url "photo:photo_add" %}"> Создание фото </a></li>




{% endblock menu %} {% block page_header %}фото {{ photo.pk }}{% endblock page_header %} {% block content %}
<p>  Подпись: {{ photo.signature }}</p>
<p> Фото: <img src="{{photo.the_photo.url }}" alt="photo" height="250" width="250"></p>
<p>start data: {{photo.created_at}}</p>
<p>Автор: {{ photo.author}}</p>


Users
    <br/>
    <br/>
 {% for comment in comment_photo.CommentPhoto.all %}
        <p>{{ comment.author }}: {{ comment.comment }} </p>
    {% empty %}
        <p>Нет комментариев :(</p>
    {% endfor %}

    <a href="{% url "photo:photo_list" %}">Главная страница</a> {% endblock %}