{% extends "base.html" %} {% block menu %}
{% if perms.webapp.change_project  %}
     <li><a href="{% url 'photo:photo_update' photo.pk %}">Редактировать фото</a></li>
{% endif %}

{% if perms.webapp.delete_photo  %}
        <li><a href="{% url "photo:photo_delete" photo.pk %}">Удалить  фото </a></li>
{% endif %}

{#{% if perms.webapp.add_tracer and request.user in project.user.all %}#}
{#    <li><a href="{% url "photo:project_tracer_add" project.id %}"> Создание фото </a></li>#}
{#{% endif %}#}
{##}
{#{% if perms.webapp.add_delete_change and request.user in project.user.all %}#}
{#    <li><a href="{% url "photo:user_update" photo.pk %}"> Добавление пользователя </a></li>#}
{#{% endif %}#}



{% endblock menu %} {% block page_header %}фото {{ photo.pk }}{% endblock page_header %} {% block content %}
<p>  Подпись: {{ photo.name }}</p>
<p> Фото: {{ photo.description}}</p>
<p>start data: {{photo.created_at}}</p>
<p>Автор: {{ photo.author}}</p>
    <p>choice{{ photo.choice }}</p>

Users
    <br/>
    <br/>
{#{% for i in photo.user.all %}#}
{#    <a href="{% url 'accounts:detail' i.pk %}">{{ i }} </a> </br>#}
{#{% endfor %}#}


{#<p>{% for task in project.tracers.all %} Название:#}
{#    <a href="{% url 'photo:view' task.pk %}">{{ task.surname }}</a> <br/> Описание: {{ task.description }}#}
{#    <br/> статус: {{ task.status }}#}
{##}
{#    <p>Tип: {% for type in task.type.all %}{{ type.name }} {% if not forloop.last %}, {% endif %}{% endfor %}</p>#}
{#    <br/><br/> {% endfor %}#}
    <a href="{% url "photo:photo_list" %}">Главная страница</a> {% endblock %}