{% for photo in photos %}
    <div class="box">
        <h3><a href="{% url "photo:photo_view" photo.pk %}">Описание: {{photo.signature }}</a></h3>
             Описание: {{photo.the_photo }}<br/> Дата создания фото{ photo.created_at }}<br/>
{#            {% if photo  %}#}
                <a href="{% url "photo:list"%}">Альбом  {{ photo.album }}</a>
        <br/><br/>
    </div>

{% empty %}
    <h2 class="text-center">Нет проектов </h2>
{% endfor %}

{% if is_paginate %}
     {% include 'partial/paginate.html' %}
{% endif %}

