{% for photo in photos %}
    <div class="box">
    {% if user.is_authenticated %}
        <h3><a href="{% url "photo:photo_view" photo.pk %}">Описание: {{photo.signature }}</a></h3>
             Фото: <img src="{{photo.the_photo.url }}" alt="photo" height="250" width="250"><br/>
        Дата создания фото{{ photo.created_at }}<br/>
    {% else %}
            <h1>Зарегистрируйтесь</h1>

            {% endif %}
        <br/><br/>
    </div>

{% empty %}
    <h2 class="text-center">Зарегистрируйтесь</h2>
{% endfor %}

{% if is_paginate %}
     {% include 'partial/paginate.html' %}
{% endif %}

